.işlədiyi{
	color: rgb(102, 203, 55);
	
	background-color: rgb(221, 221, 225);
	border: 5px solid red;
	margin-top: 1.5rem;
	padding-left: 25px;
	
}
	
.şəkil{
	margin-left:500px;
}
.lorem2{
	border: 10px solid rgb(112, 198, 175);
	font-weight: 1000px;
	letter-spacing: 5px;
	line-height: 50px;
	margin-top: 5px;
	padding-left: 7px;
}